= simple_form_for @question, html: {class: "form-horizontal center"} do |f|
  .card.card-body
    .form-group
      = f.input :title, input_html: {class: "form-control"}, label_html: {class: ""}
      = f.input :variable, input_html: {class: "form-control"}, label_html: {class: ""}
    %h3 Answers
    #tasks
      = f.simple_fields_for :answers do |answer|
        = render 'answer_fields', f: answer
      .links
        = link_to_add_association 'add answer', f, :answers, class: "badge badge-link"
    = f.submit class: "btn btn-info"
