<% @question.each do |q| %>
<form action="">
Q: <%= q.question %>
<br>
  <% q.answers.each do |answer|%>
    <input type="radio" id="answer<%=answer.id%>" name="answer" value="<%= answer.id%>">
    <label for="answer<%=answer.id%>"><%= answer.answer%></label><br>
  <% end %>
</form>
<% end %>