.container.text-center.mt-4
  = link_to "new", new_question_path, class: "btn btn-lg btn-success d-block"
  - @questions.each do |question|
    .card.card-body.mb-4
      %form{:action => ""}
        .display-4.d-inline
          %span{ class: "badge badge-info"}Q
          %div=question.title
        %br/
        %div{class: ".btn-group.btn-group-toggle "}
          - question.answers.each_with_index do |answer, i|
            %label{:for => "answer#{answer.id}", class: "btn btn-secondary" }
              %input{:id => "answer#{answer.id}", :name => "#{question.id}", :type => "radio", :class => "answer-option", :autocomplete => "off", :value => "#{answer.id}", data: { question: question.to_json(), answer: answer.to_json() , orderfirst: @order.first.to_json(),  ordersecond: @order.last.to_json() }}
              = answer.text
              %br/
        %div{class: "order-msg #{question.id} alert ",  data: { source: "#{question.id}"} }
        .container.btn-group
          = link_to "show", question, class: "btn btn-primary "
          = link_to "edit", edit_question_path(question), class: "btn btn-info mx-auto"
          = link_to "Delete Question", question_path(question), data: { method: :delete, confirm: "Are you sure?" }, class: " btn btn-danger"
